.logo {
    display: block;
    float: left;
}

.nav {
    display: block;
    float: left;
}

ul li {
    float: left;
    margin-left: 20px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #000000;
}

.nav ul li a:hover {
    color: #F7941E;
}

.nav ul li:last-child {
    font-weight: bold;
}


.but button {
      color: #F7941E;
      background-color: white;
      border-radius: 3px;
      border:#F7941E solid 1px;
      padding: 7px;
}

header {
    height: 120px;
}